
ImageStash:
  environment: &3
    EVENTSTORE_URL: http://10.0.0.9:2113/
    URLS_FILE_URL: https://gist.githubusercontent.com/rranshous/30056e2109f43e74d79f/raw/
    REDIS_URL: redis://10.0.0.9:6379/0
    HTTP_POOL_SIZE: 4
    WRITE_DIR: /data
  image: image_stash-web
  ports:
  - 5001:5000
  volumes:
  - ./image/stash/data:/data


BlogAccessor:
  environment: *3
  image: blog_accessor-web
  ports:
  - 5002:5000


ImageDetailer:
  environment: *3
  image: image_detailer-worker
  links: &1
  - ImageStash
  - BlogAccessor
ImageIdentifier:
  environment: *3
  image: image_identifier-worker
  links: *1
ImageFinder:
  environment: *3
  image: image_finder-worker
  links: *1
ImageDownloader:
  environment: *3
  image: image_downloader-worker
  links: *1
BlogIdentifier:
  environment: *3
  image: blog_identifier-worker
  links: *1
BlogObserver:
  environment: *3
  image: blog_observer-worker
  links: *1
BlogFinder:
  environment: *3
  image: blog_finder-worker
  links: *1
PostIdentifier:
  environment: *3
  image: post_identifier-worker
  links: *1
PostObserverNew:
  environment: *3
  image: post_observer_new-worker
  links: *1
PostObserverHistorical:
  environment: *3
  image: post_observer_historical-worker
  links: *1
